<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.message.mapper.MessageMapper">
	
	<select id="list" resultType="org.zerock.message.vo.MessageVO">

		select rnum, no, sender
        , to_char(sendDate, 'yyyy.mm.dd') sendDate, accepter
		, to_char(acceptDate, 'yyyy.mm.dd') acceptDate

		from(
			select rownum rnum, no, sender, sendDate, accepter, acceptDate
			from(
				select no, sender, sendDate, accepter, acceptDate
				from message
				where sender = #{accepter} or accepter = #{accepter}
				order by no desc
			)
		)
		where rnum between #{startRow} and #{endRow}
	</select>

	<select id="getTotalRow" resultType="java.lang.Long">
		select count(*)
		from message
	</select>
	
	<insert id="write">
		insert into message(no, content, sender, accepter)
			   values(message_seq.nextval, #{content}, #{sender}, #{accepter})
	</insert>
	
	<select id="view" resultType="org.zerock.message.vo.MessageVO">
		select no, sender, content
        , to_char(sendDate, 'yyyy.mm.dd') sendDate, accepter
		, to_char(acceptDate, 'yyyy.mm.dd') acceptDate
		from message 
		where no = #{no}
	</select>
	
	<!-- 읽기 표시 처리 -->
	<insert id="viewRead">
		update message set acceptDate = sysdate
		where no = #{no} and accepter = #{accepter} and acceptDate is null
	</insert>
	
	
	<!-- 5. 메시지 삭제 받는 사람이 메시지를 읽지 않은 경우 삭제 가능. 읽었으면 삭제 불가능.본인이 받은 사람일때 삭제 가능. 나중에 해 지금은 그냥   -->
	<delete id="delete">
		delete from message
		where no = #{no}
	</delete>



</mapper>